./data/*
*CONTCAR
*EIGENVAL
*POTCAR
*OUT
*KPOINTS
*PCDAT
*INCAR
*POSCAR*
*XDATCAR
*WAVECAR
*CHG*
*db
*NOT_CONVERGED
*old*
*bib
*.CHRG
*tex
*md
!Documentation_suba.md
*pdf
*postera*
*xz
*.UHF
*h5
*zip
*CHGCAR
*REPORT
*DOSCAR
*checkpoint
*pkl
*stdout
*npz
*IBZKPT
*OSZICAR
*OUTCAR
*xml
*TST*
*index
ckpt*
*out
*npy
*xyz
*sdf
*smi
*pkl
*gzip
*json
!settings_qm9_multi.json
!settings_qm9_multi_43k.json
!settings_qm9_nonlmdb.json
!settings_qm9_nonlmdb_43k.json
*dat
*git 
*gz
*pyc
*txt
*PKG-INFO
*pyc
*csv
!qm9_43k_clean.csv
*ckpt
*log
*err
*wandb
*yaml
*tfevents
*qtaim_embed.egg-info/not-zip-safe
*lmdb-lock
*png
*sh
!make_qm9_lmdb_multi.sh
!make_qm9_lmdb_multi_43k.sh
!run_qm9_multi.sh
!run_qm9_multi_nonlmdb.sh
!run_qm9_multi_nonlmdb_43k.sh
*ipynb
!filter_qm9_to_43K.ipynb
logs_suba/**
!logs_suba/
!logs_suba/**/*.out
!logs_suba/**/*.err
!logs_suba/lmdb/**
**/*.tfevents*
**/*.ckpt
**/.ipynb_checkpoints/
