./data/*
*CONTCAR
*EIGENVAL
*POTCAR
*OUT
*KPOINTS
*PCDAT
*INCAR
*POSCAR*
*XDATCAR
*WAVECAR
*CHG*
*db
*NOT_CONVERGED
*old*
*bib
*.CHRG
*tex
*md
!Documentation_suba.md
*pdf
*postera*
*xz
*.UHF
*h5
*zip
*CHGCAR
*REPORT
*DOSCAR
*checkpoint
*pkl
*stdout
*npz
*IBZKPT
*OSZICAR
*OUTCAR
*xml
*TST*
*index
ckpt*
*out
!logs_suba/**
*npy
*xyz
*sdf
*smi
*pkl
*gzip
*json
!settings_qm9_multi.json
!settings_qm9_multi_43k.json
*dat
*git 
*gz
*pyc
*txt
*PKG-INFO
*pyc
*csv
*ckpt
*log
*err
!logs_suba/**
*wandb
*yaml
*tfevents
*qtaim_embed.egg-info/not-zip-safe
*lmdb-lock
*png
*sh
!make_qm9_lmdb_multi.sh
!make_qm9_lmdb_multi_43k.sh
*ipynb
!filter_qm9_to_43K.ipynb
